In [3]:
import pandas as pd

df = pd.read_csv('data/train/EN/subtask-1-annotations.txt', sep='\t', header=None, names=["article_id", "entity_mention", "start_index", "end_index", "main_role", "fine_roles"])

df.head()

,article_id,entity_mention,start_index,end_index,main_role,fine_roles
EN_CC_100013.txt,Bill Gates,93,102,Antagonist,Deceiver,Corrupt
EN_CC_100013.txt,BBC,1860,1862,Antagonist,Deceiver,NaN
EN_CC_100013.txt,Jeffrey Epstein,2005,2019,Antagonist,Corrupt,NaN
EN_UA_300009.txt,Fail Alsynov,176,187,Protagonist,Rebel,Martyr
EN_UA_300009.txt,Bashkir people,1616,1629,Innocent,Victim,NaN

In [5]:
df.index.unique()

Index(['EN_CC_100013.txt', 'EN_UA_300009.txt', 'EN_CC_100005.txt',
       'EN_UA_014637.txt', 'EN_UA_019640.txt', 'EN_UA_022051.txt',
       'EN_UA_004616.txt', 'EN_UA_300153.txt', 'EN_UA_024321.txt',
       'EN_UA_000923.txt',
       ...
       'EN_CC_200016.txt', 'EN_UA_011260.txt', 'EN_UA_300053.txt',
       'EN_UA_300010.txt', 'EN_CC_200101.txt', 'EN_CC_200144.txt',
       'EN_UA_300132.txt', 'EN_CC_200022.txt', 'EN_UA_013257.txt',
       'EN_UA_000104.txt'],
      dtype='object', length=202)